<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Login to Coursee - Best Platform for finding Best Courses">
  <meta name="theme-color" content="#000000">
  <link rel="stylesheet" href="../css/authPages.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Login - Coursee</title>
</head> 
<body>
  <%- include('./essentials/message') %>
  <div class="container">
    <h2 id="coursee">Coursee</h2>
    <div class="auth-card">
      <h3>Login</h3>
      <form action="" method="post">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </div>
        <a href="/signup">Don't have an account yet?</a>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
  <%- include('./essentials/messagejs') %>
</body>
</html>